#loader { 
            border: 5px solid #f3f3f3; 
            border-radius: 50%; 
            border-top: 5px solid #079fe8; 
            width: 50px; 
            height: 50px; 
            animation: spin 1s linear infinite; 
        } 
          
        @keyframes spin { 
            100% { 
                transform: rotate(360deg); 
            } 
        } 
          
        .center { 
            margin: auto; 
        } 